<%- include("template/cabecera",{title:"agregar"}) %>
<body>
    <%- include("template/nav") %>
    <div class="container">
        <h1>agregar</h1>
        <form action="/agregar" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" name="descripcion" placeholder="password">
            <input type="submit" value="enviar">
        </form>

    </div>

</body>
</html>